.sedona-banner {
  background-image: url("../img/sedona-text.svg"), url("../img/intro-triangle.png"), url("../img/banner-sedona.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center center, center bottom, center center;
  height: 158px;

  @media (min-width:768px) {
    height: 246px;
  }
}
