.reasons__list {
  margin: 0;
  padding: 0;
}

.reasons__title {
  margin: 0 18px 35px;
}

.reasons__text {
  margin: 0 18px 32px;
}

// .reasons__text-wrapper {
//   background-image: url("../../img/reasons-triangle.svg");
//   background-position: center bottom;
// }
