.search__wrapper {
  padding-top: 38px;
  padding-bottom: 49px;
}

.search__title {
  padding: 0;
  margin: 0 0 30px 0;
}

.search__description {
  padding: 0;
  margin: 0 29px 32px;
}

.search__button {
  padding: 16px 49px;
  margin: 0 18px;
}
