.button {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: auto;

  &--form {
    padding: 16px 49px;
  }

  &--modal {
    padding: 18px 62px 14px;
  }
}
