.social__list {
  margin: 0;
}

.social {
  @media (min-width: 768px) {
    justify-self: center;
  }
}

.social__link {
  display: block;
}

.social__icon {
  display: block;

  &:hover rect {
    fill: #669ec0;
  }

  &:active rect {
    fill: #669ec0;
  }

  &:active path {
    opacity: 0.3;
  }
}
