.main-nav {
  display: flex;
  z-index: 100;
  min-width: 320px;
  position: relative;
  min-height: 56px;
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--opened .site-list {
  position: absolute;
}

.main-nav__toggle {
  // margin: 17px 20px 17px auto;
  position: absolute;
  right: 20px;
  top: 17px;
}
